-- DropForeignKey
ALTER TABLE `exam_question_snapshots` DROP FOREIGN KEY `fk_exam_question_snapshots_exam_snapshot`;

-- DropForeignKey
ALTER TABLE `exam_question_snapshots` DROP FOREIGN KEY `fk_exam_question_snapshots_question_snapshot`;

-- DropForeignKey
ALTER TABLE `exam_questions` DROP FOREIGN KEY `exam_questions_examId_fkey`;

-- DropForeignKey
ALTER TABLE `exam_snapshots` DROP FOREIGN KEY `fk_exam_snapshots_exam`;

-- DropForeignKey
ALTER TABLE `questions` DROP FOREIGN KEY `questions_creatorId_fkey`;

-- DropForeignKey
ALTER TABLE `topics` DROP FOREIGN KEY `topics_courseId_fkey`;

-- DropIndex
DROP INDEX `idx_questionSnapshotId` ON `exam_question_snapshots`;

-- DropIndex
DROP INDEX `idx_exam_question` ON `exam_questions`;

-- DropIndex
DROP INDEX `idx_creator_status_updated` ON `questions`;

-- DropIndex
DROP INDEX `code` ON `topics`;

-- AlterTable
ALTER TABLE `ai_generation_records` MODIFY `errorMessage` TEXT NULL,
    MODIFY `reviewNotes` TEXT NULL;

-- AlterTable
ALTER TABLE `anomaly_flags` ADD COLUMN `jobId` VARCHAR(191) NULL;

-- AlterTable
ALTER TABLE `course_topics` DROP PRIMARY KEY,
    MODIFY `courseId` VARCHAR(191) NOT NULL,
    MODIFY `topicId` VARCHAR(191) NOT NULL,
    ADD PRIMARY KEY (`courseId`, `topicId`);

-- AlterTable
ALTER TABLE `exam_instances` DROP COLUMN `ipAddress`,
    ALTER COLUMN `updatedAt` DROP DEFAULT;

-- AlterTable
ALTER TABLE `exam_link_usages` DROP COLUMN `ip`;

-- AlterTable
ALTER TABLE `exam_questions` ALTER COLUMN `updatedAt` DROP DEFAULT;

-- AlterTable
ALTER TABLE `exam_snapshots` MODIFY `title` VARCHAR(191) NOT NULL;

-- AlterTable
ALTER TABLE `exam_submission_regrade_logs` MODIFY `previousFeedback` TEXT NULL,
    MODIFY `newFeedback` TEXT NULL,
    MODIFY `reason` TEXT NULL;

-- AlterTable
ALTER TABLE `proctoring_sessions` DROP COLUMN `ipAddress`;

-- AlterTable
ALTER TABLE `question_course_scopes` DROP PRIMARY KEY,
    MODIFY `questionId` VARCHAR(191) NOT NULL,
    MODIFY `courseId` VARCHAR(191) NOT NULL,
    ADD PRIMARY KEY (`questionId`, `courseId`);

-- AlterTable
ALTER TABLE `question_drafts` ALTER COLUMN `updatedAt` DROP DEFAULT;

-- AlterTable
ALTER TABLE `question_topics` DROP PRIMARY KEY,
    MODIFY `questionId` VARCHAR(191) NOT NULL,
    MODIFY `topicId` VARCHAR(191) NOT NULL,
    ADD PRIMARY KEY (`questionId`, `topicId`);

-- AlterTable
ALTER TABLE `question_versions` MODIFY `stem` TEXT NOT NULL,
    MODIFY `explanation` TEXT NULL;

-- AlterTable
ALTER TABLE `questions` MODIFY `status` ENUM('DRAFT', 'IN_REVIEW', 'PUBLISHED', 'ARCHIVED') NOT NULL DEFAULT 'DRAFT';

-- AlterTable
ALTER TABLE `submission_answers` ALTER COLUMN `updatedAt` DROP DEFAULT;

-- AlterTable
ALTER TABLE `topics` DROP PRIMARY KEY,
    MODIFY `id` VARCHAR(191) NOT NULL,
    MODIFY `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    ADD PRIMARY KEY (`id`);

-- DropTable
DROP TABLE `temp_topic_map`;

-- CreateTable
CREATE TABLE `question_usages` (
    `id` VARCHAR(191) NOT NULL,
    `questionId` VARCHAR(191) NOT NULL,
    `contextType` VARCHAR(191) NOT NULL,
    `contextId` VARCHAR(191) NOT NULL,
    `usedAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `metrics` JSON NULL,

    INDEX `question_usages_questionId_usedAt_idx`(`questionId`, `usedAt`),
    INDEX `question_usages_contextType_contextId_idx`(`contextType`, `contextId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `event_store` (
    `id` VARCHAR(191) NOT NULL,
    `dedupId` VARCHAR(255) NULL,
    `kind` VARCHAR(191) NOT NULL,
    `payload` JSON NOT NULL,
    `critical` BOOLEAN NOT NULL DEFAULT false,
    `status` VARCHAR(191) NOT NULL DEFAULT 'PENDING',
    `attempts` INTEGER NOT NULL DEFAULT 0,
    `lastError` TEXT NULL,
    `source` VARCHAR(191) NULL,
    `createdAt` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
    `processedAt` DATETIME(3) NULL,

    INDEX `event_store_dedupId_idx`(`dedupId`),
    INDEX `event_store_kind_idx`(`kind`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateIndex
CREATE INDEX `anomaly_flags_jobId_idx` ON `anomaly_flags`(`jobId`);

-- CreateIndex
CREATE INDEX `course_topics_topicId_idx` ON `course_topics`(`topicId`);

-- CreateIndex
CREATE INDEX `exam_submissions_submitIdempotencyKey_idx` ON `exam_submissions`(`submitIdempotencyKey`);

-- CreateIndex
CREATE INDEX `exams_status_idx` ON `exams`(`status`);

-- CreateIndex
CREATE INDEX `question_course_scopes_courseId_idx` ON `question_course_scopes`(`courseId`);

-- CreateIndex
CREATE INDEX `questions_creatorId_idx` ON `questions`(`creatorId`);

-- CreateIndex
CREATE INDEX `questions_status_idx` ON `questions`(`status`);

-- CreateIndex
CREATE INDEX `topics_courseId_idx` ON `topics`(`courseId`);

-- AddForeignKey
ALTER TABLE `topics` ADD CONSTRAINT `topics_courseId_fkey` FOREIGN KEY (`courseId`) REFERENCES `courses`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `question_topics` ADD CONSTRAINT `question_topics_questionId_fkey` FOREIGN KEY (`questionId`) REFERENCES `questions`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `question_topics` ADD CONSTRAINT `question_topics_topicId_fkey` FOREIGN KEY (`topicId`) REFERENCES `topics`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `course_topics` ADD CONSTRAINT `course_topics_courseId_fkey` FOREIGN KEY (`courseId`) REFERENCES `courses`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `course_topics` ADD CONSTRAINT `course_topics_topicId_fkey` FOREIGN KEY (`topicId`) REFERENCES `topics`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `question_course_scopes` ADD CONSTRAINT `question_course_scopes_questionId_fkey` FOREIGN KEY (`questionId`) REFERENCES `questions`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `question_course_scopes` ADD CONSTRAINT `question_course_scopes_courseId_fkey` FOREIGN KEY (`courseId`) REFERENCES `courses`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `ai_generation_records` ADD CONSTRAINT `ai_generation_records_questionVersionId_fkey` FOREIGN KEY (`questionVersionId`) REFERENCES `question_versions`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `question_usages` ADD CONSTRAINT `question_usages_questionId_fkey` FOREIGN KEY (`questionId`) REFERENCES `questions`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `exam_submissions` ADD CONSTRAINT `exam_submissions_examSnapshotId_fkey` FOREIGN KEY (`examSnapshotId`) REFERENCES `exam_snapshots`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `exam_instances` ADD CONSTRAINT `exam_instances_examSnapshotId_fkey` FOREIGN KEY (`examSnapshotId`) REFERENCES `exam_snapshots`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `anomaly_flags` ADD CONSTRAINT `anomaly_flags_jobId_fkey` FOREIGN KEY (`jobId`) REFERENCES `ai_generation_records`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `anomaly_flags` ADD CONSTRAINT `anomaly_flags_reviewerId_fkey` FOREIGN KEY (`reviewerId`) REFERENCES `users`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `exam_snapshots` ADD CONSTRAINT `exam_snapshots_examId_fkey` FOREIGN KEY (`examId`) REFERENCES `exams`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `exam_question_snapshots` ADD CONSTRAINT `exam_question_snapshots_examSnapshotId_fkey` FOREIGN KEY (`examSnapshotId`) REFERENCES `exam_snapshots`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `exam_question_snapshots` ADD CONSTRAINT `exam_question_snapshots_questionSnapshotId_fkey` FOREIGN KEY (`questionSnapshotId`) REFERENCES `question_snapshots`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- RedefineIndex
CREATE INDEX `anomaly_flags_examInstanceId_idx` ON `anomaly_flags`(`examInstanceId`);
DROP INDEX `idx_anomaly_flags_instance` ON `anomaly_flags`;

-- RedefineIndex
CREATE INDEX `anomaly_flags_status_idx` ON `anomaly_flags`(`status`);
DROP INDEX `idx_anomaly_flags_status` ON `anomaly_flags`;

-- RedefineIndex
CREATE INDEX `courses_lecturerId_idx` ON `courses`(`lecturerId`);
DROP INDEX `courses_lecturerId_fkey` ON `courses`;

-- RedefineIndex
CREATE INDEX `enrollments_studentId_idx` ON `enrollments`(`studentId`);
DROP INDEX `enrollments_studentId_fkey` ON `enrollments`;

-- RedefineIndex
CREATE INDEX `exam_instances_examId_idx` ON `exam_instances`(`examId`);
DROP INDEX `idx_exam_instances_exam` ON `exam_instances`;

-- RedefineIndex
CREATE INDEX `exam_instances_studentId_idx` ON `exam_instances`(`studentId`);
DROP INDEX `idx_exam_instances_student` ON `exam_instances`;

-- RedefineIndex
CREATE UNIQUE INDEX `exam_instances_examId_studentId_key` ON `exam_instances`(`examId`, `studentId`);
DROP INDEX `uq_exam_instances_exam_student` ON `exam_instances`;

-- RedefineIndex
CREATE INDEX `exam_question_snapshots_examSnapshotId_idx` ON `exam_question_snapshots`(`examSnapshotId`);
DROP INDEX `idx_examSnapshotId` ON `exam_question_snapshots`;

-- RedefineIndex
CREATE INDEX `exam_question_snapshots_questionId_idx` ON `exam_question_snapshots`(`questionId`);
DROP INDEX `idx_questionId` ON `exam_question_snapshots`;

-- RedefineIndex
CREATE INDEX `exam_questions_examId_orderIndex_idx` ON `exam_questions`(`examId`, `orderIndex`);
DROP INDEX `idx_exam_questions_exam_order` ON `exam_questions`;

-- RedefineIndex
CREATE UNIQUE INDEX `exam_questions_examId_orderIndex_key` ON `exam_questions`(`examId`, `orderIndex`);
DROP INDEX `uq_exam_questions_exam_order` ON `exam_questions`;

-- RedefineIndex
CREATE INDEX `exam_snapshots_examId_idx` ON `exam_snapshots`(`examId`);
DROP INDEX `idx_examId` ON `exam_snapshots`;

-- RedefineIndex
CREATE INDEX `exam_submission_regrade_logs_submissionId_createdAt_idx` ON `exam_submission_regrade_logs`(`submissionId`, `createdAt`);
DROP INDEX `exam_submission_regrade_logs_submission_created_idx` ON `exam_submission_regrade_logs`;

-- RedefineIndex
CREATE INDEX `exam_submissions_examId_studentId_status_idx` ON `exam_submissions`(`examId`, `studentId`, `status`);
DROP INDEX `idx_exam_student_status` ON `exam_submissions`;

-- RedefineIndex
CREATE INDEX `exam_submissions_examInstanceId_idx` ON `exam_submissions`(`examInstanceId`);
DROP INDEX `idx_exam_submissions_instance` ON `exam_submissions`;

-- RedefineIndex
CREATE INDEX `exam_submissions_studentId_status_createdAt_idx` ON `exam_submissions`(`studentId`, `status`, `createdAt`);
DROP INDEX `idx_student_status_created` ON `exam_submissions`;

-- RedefineIndex
CREATE UNIQUE INDEX `exam_submissions_examId_studentId_attemptNo_key` ON `exam_submissions`(`examId`, `studentId`, `attemptNo`);
DROP INDEX `unq_exam_student_attempt` ON `exam_submissions`;

-- RedefineIndex
CREATE INDEX `exams_courseId_idx` ON `exams`(`courseId`);
DROP INDEX `exams_courseId_fkey` ON `exams`;

-- RedefineIndex
CREATE INDEX `exams_creatorId_idx` ON `exams`(`creatorId`);
DROP INDEX `exams_creatorId_fkey` ON `exams`;

-- RedefineIndex
CREATE INDEX `focus_events_examInstanceId_occurredAt_idx` ON `focus_events`(`examInstanceId`, `occurredAt`);
DROP INDEX `idx_focus_events_instance_occurred` ON `focus_events`;

-- RedefineIndex
CREATE INDEX `interaction_logs_examInstanceId_createdAt_idx` ON `interaction_logs`(`examInstanceId`, `createdAt`);
DROP INDEX `idx_interaction_logs_instance_created` ON `interaction_logs`;

-- RedefineIndex
CREATE INDEX `question_snapshots_originalQuestionId_idx` ON `question_snapshots`(`originalQuestionId`);
DROP INDEX `idx_originalQuestionId` ON `question_snapshots`;

-- RedefineIndex
CREATE INDEX `question_snapshots_questionVersionId_idx` ON `question_snapshots`(`questionVersionId`);
DROP INDEX `idx_questionVersionId` ON `question_snapshots`;

-- RedefineIndex
CREATE INDEX `question_topics_topicId_idx` ON `question_topics`(`topicId`);
DROP INDEX `topic_idx` ON `question_topics`;

-- RedefineIndex
CREATE INDEX `questions_courseId_idx` ON `questions`(`courseId`);
DROP INDEX `questions_courseId_fkey` ON `questions`;

-- RedefineIndex
CREATE INDEX `submission_answers_submissionId_questionId_sequence_idx` ON `submission_answers`(`submissionId`, `questionId`, `sequence`);
DROP INDEX `idx_submission_question_sequence` ON `submission_answers`;

-- RedefineIndex
CREATE INDEX `submission_answers_submissionId_questionVersionId_idx` ON `submission_answers`(`submissionId`, `questionVersionId`);
DROP INDEX `idx_submission_version` ON `submission_answers`;

-- RedefineIndex
CREATE INDEX `submission_answers_questionId_idx` ON `submission_answers`(`questionId`);
DROP INDEX `submission_answers_questionId_fkey` ON `submission_answers`;

-- RedefineIndex
CREATE UNIQUE INDEX `submission_answers_submissionId_questionId_key` ON `submission_answers`(`submissionId`, `questionId`);
DROP INDEX `unq_submission_question` ON `submission_answers`;

-- RedefineIndex
CREATE INDEX `tab_switch_events_examInstanceId_occurredAt_idx` ON `tab_switch_events`(`examInstanceId`, `occurredAt`);
DROP INDEX `idx_tab_switch_events_instance_occurred` ON `tab_switch_events`;

